
.idea/*
docs/build/*
*.pyc
unreal/UnrealDeadlineService/Content/Python/Lib/Win64/*
unreal/MoviePipelineDeadline/Intermediate/*
unreal/MoviePipelineDeadline/Binaries/*
unreal/UnrealDeadlineService/Intermediate/*
unreal/UnrealDeadlineService/Binaries/*
*.old
